.dropdown:hover .dropdown-menu {
    display: block;
  }
.dropdown > button > svg {
    transition: width .2s, height .2s, transform .2s!important;
}

.dropdown:hover > button > svg {
    transform: rotate(180deg)!important;
}