@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

p {
  font-family: 'Inter', sans-serif;
}

.accordion__button:before {
  display: inline-flex;
  content: "";
  height: 10px;
  float: right;
  margin-top: 20px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
  transition: all 0.3s;
}

.color:hover > .accordion__button:before {
  border-bottom: 2px solid #4D85F5!important;
  border-right: 2px solid #4D85F5!important;

}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  transform: rotate(45deg);
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
